## Kicad
*-lib-table
*-cache
*-rescue.lib
*.sch-bak
*.kicad_pcb-bak
*.dcm
pcb/**/*.xml
pcb/**/out/
pcb/mask-color.png
pcb.*/
pcb/rev*~*/

## Quartus
db/
incremental_db/
output/
*.dpf
*.cdf
*.qws
*.srf
cpld/*/simulation/
cpld/*/top-old.v
cpld/*/top-test*.v
cpld/*/top28.v
cpld/*/chroma_gen28.vhd
cpld.*/

## Testbench
cpld_tb/ivl_vhdl_work/
cpld_tb/work/
cpld_tb/*.gtkw
cpld_tb/*.vcd
cpld_tb/*.bin
cpld_tb/*.mem
cpld_tb.*/

## Etc.
*.bak
*.*~
*.sublime-*
rom/sizif-*.rom
rom_src/*.bin
rom_src.*/
videoout/
