## Quartus
db/
incremental_db/
output/
*.dpf
*.cdf
*.qws
*.srf

## Kicad
*-lib-table
*-cache
*-rescue.lib
*.sch-bak
*.kicad_pcb-bak
*.dcm
pcb/*.xml

## Etc.
*.bak
*.*~
*.sublime-*
pcb/out/
out/pinouts.docx
cpld/top-old.v
cpld/top-test*.v
rom/sizif-*.rom
rom_src/*.bin
